.react-resizable {
    position: relative;
    background-clip: padding-box;
  }
  
.react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
}

.ant-table {
  border: 2px solid black;
  width: 100%;
}

.ant-table th {
  text-align: center !important;
}

.ant-table-wrapper {
  width: 1000px;
}
